TWITTER_API_KEY=replace_me
TWITTER_API_SECRET=replace_me
TWITTER_ACCESS_TOKEN=replace_me
TWITTER_ACCESS_TOKEN_SECRET=replace_me
TWITTER_USERNAME=MetzinAround
IMAGE_PATH=lemonitsmonday.png
DRY_RUN=true
